/* Reset */

/* INIT */

/*
html:lang(ko), body:lang(ko) {
    font-family: 'Roboto', $font-basic;
}

html:lang(en), body:lang(en) {
    font-family: 'Roboto', $font-basic;
}
 */

html, body {
  font-family: 'Noto Sans', 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;
  word-break: keep-all;
  overflow: hidden;
}

body {
  line-height: 16.8px;
  color: #222532;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

i, span, div, input, textarea, article, main, ul, li {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  vertical-align: inherit;
  text-align: inherit;
}

textarea:focus, input:focus {
  outline: none;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', 'Roboto', arial, sans-serif;
  margin: 0;
  color: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  vertical-align: inherit;
  text-align: inherit;
}

a {
  color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: unset;
  }

p {
  margin: 0;
}

/* Components */

.p-tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 0.75rem;
}

.p-tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 0;
    padding: 5px 8px;
  }

.p-tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

.p-tooltip[x-placement^="top"] {
    margin-bottom: calc(8px);
  }

.p-tooltip[x-placement^="top"] .tooltip-arrow {
      border-width: 11px 7.5px 0 7.5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -9px;
      left: calc(50% - 11px);
      margin-top: 0;
      margin-bottom: 0;
    }

.p-tooltip[x-placement^="bottom"] {
    margin-top: calc(8px);
  }

.p-tooltip[x-placement^="bottom"] .tooltip-arrow {
      border-width: 0 7.5px 11px 7.5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -9px;
      left: calc(50% - 11px);
      margin-top: 0;
      margin-bottom: 0;
    }

.p-tooltip[x-placement^="right"] {
    margin-left: calc(8px);
  }

.p-tooltip[x-placement^="right"] .tooltip-arrow {
      border-width: 7.5px 11px 7.5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -9px;
      top: calc(50% - 13px);
      margin-left: 0;
      margin-right: 0;
    }

.p-tooltip[x-placement^="left"] {
    margin-right: calc(8px);
  }

.p-tooltip[x-placement^="left"] .tooltip-arrow {
      border-width: 7.5px 0 7.5px 11px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -9px;
      top: calc(50% - 13px);
      margin-left: 0;
      margin-right: 0;
    }

.p-tooltip.popover {
  }

.p-tooltip.popover .popover-inner {
      background: #222532;
      color: #222532;
      padding: 24px;
      border-radius: 5px;
      -webkit-box-shadow: 0 5px 30px rgba(0,0,0, 0.1);
              box-shadow: 0 5px 30px rgba(0,0,0, 0.1);
    }

.p-tooltip.popover .popover-arrow {
      border-color: #222532;
    }

.p-tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.15s, visibility 0.15s;
    transition: opacity 0.15s, visibility 0.15s;
  }

.p-tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.15s;
    transition: opacity 0.15s;
  }
