/* COLORS */
$red: #d90039;
$green: #2D9E6E;
$orange: #FFAE08;

$lightgray: #EEF0F3;
$gray: #C9CFE0;
$darkgray: #959BAf;

$white: #fff;
$whiteblue: lighten(#E7EAF3, 5%);
$skyblue: #ECF1FE;
$blue: #2C68F9;
$violet: #8a2be2;
$blueviolet: #4856f2;

$navy: #0F2965;
$black: #1a1f3e;

$gradient: linear-gradient(45deg, darken($blue, 15%) 10%, $blue 40%, $violet);
$dark-gradient: linear-gradient(135deg, darken($blue, 10%) 30%, $violet);

/* FONT */
// $font-basic: 'NotoSans', sans-serif;
// $font-big: 'Roboto', sans-serif;
$font-basic: sans-serif;
$font-big: sans-serif;

/* Z-INDEX */
$header-z: 9999999;

/* SIZE */
$header-height: 50px;
$sub-header-height: 35px;

$side-pad: 15px;
$top-pad: 25px;
$bottom-pad: 10px;

$border-radius: 7px;
$box-shadow: 0px 0 10px 0px rgba($black, 0.1);

/* STYLE */
%box-shadow {
  box-shadow: 0px 0 10px 0px rgba($black, 0.1);
}

%border-radius {
  border-radius: 7px;
}

%sheet {
  @extend %box-shadow;
  @extend %border-radius;
}