/*************************
 ****** GLOBAL CSS *******
 *************************/

@import url("http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800");

/* INIT */
html, body {
  font-family: $font-basic;
  background-color: $whiteblue;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;
  word-break: keep-all;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
i, span, div, h1, h2, h3, h4, h5, h6, input,
textarea, article, main {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
}
textarea:focus, input:focus{
  outline: none;
}
:focus {
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-big;
  margin: 0;
}
a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: unset;
  }
}


/*************************
 ********** APP **********
 *************************/

 /* App Header */
 .app-header {
  .nav-item {
    max-height: 100%;
    button.dropdown-toggle {
      background-color: transparent;
      border-color: transparent;
      font-size: 1rem;
      font-weight: 400;
      color: darken($darkgray, 20%);
      color: $white;
      &:active, &.active, &[aria-expanded="true"] {
        background-color: transparent;
      }
    }
  }
 }


/* Base Table */
.table.b-table {
  // border-collapse: separate; 
  // border-spacing: 0; 
  th, td {
    padding: 8px;
  }
  td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: darken($whiteblue, 1%);
  &.tbody-tr-selected {
    background-color: darken($skyblue, 3%);
  }
}

.table-hover tbody tr:hover {
  background-color: darken($whiteblue, 5%);
  &.tbody-tr-selected {
    background-color: darken($skyblue, 7%);
  }
}

.tbody-tr-selected {
  background-color: darken($skyblue, 3%);
}

.tbody-tr-default {
  cursor: pointer;
}

.tbody-tr-underlined {
  border-bottom: 1px solid $lightgray;
  &:first-child {
    border-top: 1px solid $lightgray;
  }
  &:last-child {
    border-bottom: none;
  }
}

.table.b-table[aria-busy='true'] {// Busy table styling
  opacity: 1;
  .b-table-busy-slot {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    td {
      vertical-align: middle;
    }
  }
}
.b-table-empty-row {
  background-color: transparent !important;
    td {
      color: gray;
      vertical-align: middle;
      text-align: center;
    }

}

/* b-checkbox */
.custom-control-label {
  cursor: pointer;
}

/* b-dropdown */
.dropdown-menu {
  padding: 3px 0 !important;
  border: none;
  box-shadow: 2px 2px 10px 0px rgba($black, 0.2);
}
.dropdown-item {
  padding: 3px 6px;
  &:hover, &:focus {
    color: $black;
    background-color: transparent;
    .item {
      font-weight: 500;
    }
  }
  &.active, &:active {
    color: darken($blue, 10%);
    background-color: transparent;
    .item {
      background-color: $skyblue; 
    }
  }
  /* TODO: separate this part to components */
  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    .icon {
      margin-left: 0;
      color: inherit;
      font-weight: inherit;
      font-size: 1.3em;
    }
    .name {
      padding-left: 15px;
      color: inherit;
      font-weight: inherit;
    }
  }
}

/* b-button */
.btn {
  border-radius: 50px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary {
  background-color: $blue;
  border-color: $blue;
  &:not(:disabled):not(.disabled):active {
    background-color: $blue;
    border-color: $blue;
    &:focus {
      box-shadow: 0 0 5px 1px $skyblue;
    }
  }
}
.btn-secondary {
  background-color: $gray;
  border-color: $gray;
  color: darken($darkgray, 20%);
  &:not(:disabled):not(.disabled):active {
    background-color: $gray;
    border-color: $gray;
    &:focus {
      box-shadow: 0 0 5px 1px $gray;
    }
  }
  &:hover {
    color: darken($darkgray, 30%);
    background-color: $darkgray;
    border-color: $darkgray;
  }
}
.btn-dark {
  background-color: $navy;
  border-color: $navy;
  &:not(:disabled):not(.disabled):active {
    background-color: $navy;
    border-color: $navy;
    &:focus {
      box-shadow: 0 0 5px 1px $navy;
    }
  }
  &:hover {
    background-color: $black;
    border-color: $black;
  }
}
.btn-outline-dark {
  color: $navy;
  border-color: $navy;
  &:not(:disabled):not(.disabled):active {
    background-color: $navy;
    border-color: $navy;
    &:focus {
      box-shadow: 0 0 5px 1px $navy;
    }
  }
  &:hover {
    background-color: $navy;
    border-color: $navy;
  }
}
.btn-info {
  background-color: $blueviolet;
  border-color: $blueviolet;
  &:not(:disabled):not(.disabled):active {
    background-color: $blueviolet;
    border-color: $blueviolet;
    &:focus {
      box-shadow: 0 0 5px 1px $blueviolet;
    }
  }
  &:hover {
    background-color: darken($blueviolet, 5%);;
    border-color: darken($blueviolet, 5%);;
  }
}
.btn-outline-info {
  color: $blueviolet;
  border-color: $blueviolet;
  &:not(:disabled):not(.disabled):active {
    background-color: $blueviolet;
    border-color: $blueviolet;
    &:focus {
      box-shadow: 0 0 5px 1px $blueviolet;
    }
  }
  &:hover {
    background-color: $blueviolet;
    border-color: $blueviolet;
  }
}

/* sl-vue-tree */
.sl-vue-tree.sl-vue-tree-root {
  background-color: transparent;
  border: none;

  .sl-vue-tree-nodes-list {
    .sl-vue-tree-node {
      &.sl-vue-tree-selected {
        > .sl-vue-tree-node-item {
          color: darken($blue, 7%);
          font-weight: 500;
          background-color: rgba($blue, 0.1);
          &:hover {
            color: darken($blue, 10%);
            font-weight: 500;
            background-color: rgba($blue, 0.2);
          }
        }
      }
      .sl-vue-tree-node-item {
        border-radius: 7px;
        cursor: pointer;
        margin: 5px 0;
        color: darken($darkgray, 20%);
        &:hover {
          color: $black;
          font-weight: 500;
        }
        .sl-vue-tree-title {
          .sl-vue-tree-toggle {
            text-align: center;
          }
        }
      }
    }
  }
}

/* card */
.card.base {
  @extend %sheet;
  border: none;
  .card-header {
    border-bottom: none;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

/* i Tag: icon */
.primary{
  color:$blue;
}

.info {
  color:$blueviolet;
}

.dark {
  color:$navy;
}

.secondary {
  color:$gray;
}

.success {
  color:$green;
}

.danger {
  color:$red;
}