/*************************
 ****** GLOBAL CSS *******
 *************************/

/* INIT */
html, body {
  font-family: $font-basic;
  background-color: $whiteblue;
  font-size: 15px;
  font-weight: 400;
  color: $black;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;
  word-break: keep-all;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

i, span, div, input, textarea, article, main {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  vertical-align: inherit;
  text-align: inherit;
}
textarea:focus, input:focus {
  outline: none;
}
:focus {
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-big;
  margin: 0;
  color: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  vertical-align: inherit;
  text-align: inherit;
}
a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: unset;
  }
}


/*************************
 ********** APP **********
 *************************/

 /* App Header */
 .app-header {
  .nav-item {
    max-height: 100%;
    button.dropdown-toggle {
      background-color: transparent;
      border-color: transparent;
      font-size: 1rem;
      font-weight: 400;
      color: darken($darkgray, 20%);
      color: $white;
      &:active, &.active, &[aria-expanded="true"] {
        background-color: transparent;
      }
    }
  }
 }


/* Base Table */
.table.b-table {
  thead {
    th {
      padding: 8px;
      padding-bottom: 10px;
      border-bottom: 1px solid $gray;
    }
    tr:first-child {
      border-top: none;
    }
  }
  td {
    padding: 8px;
  }
}

%row {
    background-color: $white;
}
%striped-row {
    background-color: darken($whiteblue, 1%);
}
%selected-row {
    background-color: darken($skyblue, 3%);
}
%striped-hovered-row {
    background-color: darken($whiteblue, 5%);
}
%selected-hovered-row {
    background-color: darken($skyblue, 7%); 
}

.table-striped tbody tr:nth-of-type(odd) {
    @extend %striped-row;
    &.tbody-tr-selectable.tbody-tr-selected {
        @extend %selected-row;
    }
    &:hover.tbody-tr-default {
        @extend %striped-row;
    }
}

.table-hover tbody tr:hover {
    &.tbody-tr-default {
        @extend %row;
    }
    &.tbody-tr-selectable {
        @extend %striped-hovered-row;    
        &.tbody-tr-selected {
            @extend %selected-hovered-row;
        }
    }
}

.tbody-tr-selectable {
  cursor: pointer;
  &.tbody-tr-selected {
    @extend %selected-row;
  }
}

.tbody-tr-underlined {
  border-bottom: 1px solid $lightgray;
  &:first-child {
    border-top: 1px solid $lightgray;
  }
  &:last-child {
    border-bottom: none;
  }
}

.table.b-table[aria-busy='true'] {// Busy table styling
  opacity: 1;
  .b-table-busy-slot {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    td {
      vertical-align: middle;
    }
  }
}
.b-table-empty-row {
  background-color: transparent !important;
    td {
      color: gray;
      vertical-align: middle;
      text-align: center;
    }

}

/* b-checkbox */
@mixin checkbox-color($color) {
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: $color;
        border-color: $color;
    }
}

.custom-checkbox {
    &.primary { @include checkbox-color($primary); }
    &.secondary { @include checkbox-color($primary); }
    &.danger { @include checkbox-color($danger); }
    &.dark { @include checkbox-color($dark); }
    &.info { @include checkbox-color($info); }
    &.warning { @include checkbox-color($warning); }
    &.light { @include checkbox-color($light); }
    &.success { @include checkbox-color($success); }

    .custom-control-label {
      cursor: pointer;
    }
}

/* b-dropdown */
.dropdown-menu {
  padding: 3px 0 !important;
  border: none;
  box-shadow: 2px 2px 10px 0px rgba($black, 0.2);
}
.b-dropdown.no-selected {
    .dropdown-item:hover .item {
        font-weight: 400;
        background-color: $lightgray;
    }
}
.dropdown-item {
  padding: 3px 6px;
  &.sm {

  }
  &:hover, &:focus {
    color: $black;
    background-color: transparent;
    .item {
      font-weight: 500;
      background-color: rgba($black, 0.05);
    }
  }
  &.active, &:active {
    color: darken($blue, 10%);
    background-color: transparent;
    .item {
      background-color: $skyblue; 
    }
  }
  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    &.sm {
        padding: 5px;
        padding-right: 10px;
    }
    .icon {
        display: inline-block;
        margin-left: 0;
        color: inherit;
        font-weight: inherit;
        font-size: 1.3em;
        width: 20px;
        text-align: center;
    }
    .name {
      padding-left: 15px;
      color: inherit;
      font-weight: inherit;
    }
  }
}


/* b-button */
.btn {
  border-radius: 50px;
  padding: 3px 15px 1px 15px;
  font-size: 1.02em;
}
.btn:focus {
  outline: none;
}

.btn-sm, .btn-group-sm > .btn {
}

@mixin btn-color($theme, $color, $oposite-color) {
    &.btn-#{$theme} {
        background-color: $color;
        border-color: $color;
        &:not(:disabled):not(.disabled):active {
            color: $oposite-color;
            background-color: darken($color, 10%);
            border-color: darken($color, 10%);
            &:focus {
                box-shadow: 0 0 5px 1px rgba($color, .5);
            }
        }
        &:hover {
            color: $oposite-color;
            background-color: darken($color, 10%);
            border-color: darken($color, 10%);
        }
    }
    &.btn-outline-#{$theme} {
        color: $color;
        border-color: $color;
        background-color: transparent;
        &:not(:disabled):not(.disabled):active {
            color: $oposite-color;
            background-color: $color;
            border-color: $color;
            &:focus {
                box-shadow: 0 0 5px 1px rgba($color, .5);
            }
        }
        &:hover {
            color: $oposite-color;
            background-color: $color;
            border-color: $color;
        }
    }
}

.btn { 
    @include btn-color('primary', $primary, $white);
    @include btn-color('secondary', $secondary, darken($secondary, 30%)); 
    @include btn-color('light', $light, $black);
    @include btn-color('danger', $danger, $white); 
    @include btn-color('success', $success, $white);
    @include btn-color('warning', $warning, $white);
    @include btn-color('dark', $dark, $white);
    @include btn-color('info', $info, $white);
}

/* sl-vue-tree */
@mixin node-item-background($bg-color) {
    > .sl-vue-tree-node-item {
        background-color: $bg-color;
        &:hover {
            background-color: $bg-color;
        }
        &:focus {
            border: 1px solid red;
        }
    }
}
.sl-vue-tree.sl-vue-tree-root {
    background-color: transparent;
    border: none;
    .sl-vue-tree-nodes-list {
        .sl-vue-tree-node {
            @include node-item-background(transparent);
            &.sl-vue-tree-selected {
                @include node-item-background(transparent);
            }
            .sl-vue-tree-node-item {
                border-radius: 7px;
                cursor: pointer;
                margin: 5px 0;
                color: darken($darkgray, 20%);
                &:hover {
                    color: $black;
                    font-weight: 500;
                }
                &.sl-vue-node-clicked {
                    color: darken($blue, 7%);
                    font-weight: 500;
                    background-color: rgba($blue, 0.1);
                    &:hover {
                        color: darken($blue, 10%);
                        font-weight: 500;
                        background-color: rgba($blue, 0.2);
                    }
                }
                &.sl-vue-tree-node-is-leaf {
                    .item-icon {
                        font-size: 0.87em;
                    }
                }
                .sl-vue-tree-title {
                    display: flex;
                    width: 100%;
                    .sl-vue-tree-toggle {
                        text-align: center;
                        width: 20px;
                    }
                    .item-icon {
                        vertical-align: baseline;
                    }
                    .item-title {
                        display: inline-block;
                        padding-left: 5px;
                        width: calc(100% - 25px);
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}


/* card */
.card.base {
  @extend %sheet;
  border: none;
  &.first-tab {
    margin-top: 0 !important;
    border-top-left-radius: 0px !important;
  }
  .card-header {
    border-bottom: none;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

/* b-modal */
.modal .modal-dialog {
  .modal-header {
    padding-top: 15px;
    padding-bottom: 10px;
    .close {
      padding-top: 18px;
    }
  }
  .modal-content {
      @extend %sheet;
      border: 0;
  }
}

@mixin modal-color($color) {
    .modal-header {
        background-color: rgba($color, 0.1);
        color: darken($color, 20%);
        .close {
            color: darken($color, 20%);
        }
    }
}
  
.modal-primary { @include modal-color($primary); }
.modal-secondary { @include modal-color($secondary); }
.modal-danger { @include modal-color($danger); }
.modal-dark { @include modal-color($dark); }
.modal-info { @include modal-color($info); }
.modal-warning { @include modal-color($warning); }
.modal-light { @include modal-color($light); }
.modal-success { @include modal-color($success); }


/* b-form */
.form-group {
    margin-bottom: 10px;
}
$form-padding: 0.375rem 0.75rem;
%form-input {
    border-radius: 3px;
    padding: $form-padding;
    border: 1px solid darken($lightgray, 5%);
    &::placeholder {
        color: darken($lightgray, 10%);
    }
    .text.default {
        color: darken($lightgray, 10%);
    }
}
.form-control {
  @extend %form-input;
}
.was-validated .form-control:valid, 
.form-control.is-valid {
    background-image: none;
    @extend %form-input;
}
.was-validated .form-control:invalid, 
.form-control.is-invalid {
    background-image: none;
    @extend %form-input;
}
.valid-feedback {
  color: $green;
}

/* vue-search-select dropdown in b-form group */
.form-group .ui.search.selection.dropdown {
    @extend %form-input;
    min-height: unset;
    line-height: 1.5 !important;
    &:hover {
        @extend %form-input;
        &.active, &:focus, &.visible {
            border-color: lighten($blue, 25%);
            box-shadow: 0 0 0 0.2rem rgba($blue, .25);
        }
    }
    >input.search {
        padding: $form-padding !important;
        line-height: 1.5 !important;
    }
    &.active, &:focus, &.visible {
        border-color: lighten($blue, 25%);
        box-shadow: 0 0 0 0.2rem rgba($blue, .25);
        .menu {
            padding: 5px;
            border-top: 0;
            border-color: darken($lightgray, 5%);
            &:hover {
                border-color: lighten($blue, 25%);
                border-top: 0;
            }
            .item {
                border-radius: 3px;
            }
        }
    }
}

/* b-form-select */
.custom-select {
    background: none;
}

/* Dropdown Options on Card */
.button-content > button {
  border-bottom: 0px !important;
  border-top: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

/* copy-clipboard */
.copy-clipboard {
    position: relative;
    .contents {
        cursor: text;
    }
    i {
        visibility: hidden;
        padding: 0px 3px 0px 10px;
        cursor: pointer
    }
    &:hover i {
        visibility: visible;
    }
    
}



/* i Tag: icon */
.primary {
  color:$blue;
}

.info {
  color:$blueviolet;
}

.dark {
  color:$navy;
}

.secondary {
  color:$gray;
}

.success {
  color:$green;
}

.danger {
  color:$red;
}

.warning {
  color:$orange;
}

.light {
  color:$white;
}


