# Logs
logs
*.log
npm-debug.log*

# Docker
.dockerignrore
**/Dockerfile
**/*.dockerfile
**/*.dockerignore

# Deploy
deploy

# Dependencies
**/node_modules

# Output
out
**/dist
apps/storybook/.out
packages/mirinae/css
packages/mirinae/types

# Lint
**/.eslintrc.js
**/.eslintrc.cjs
**/.eslintignore

# Commit hooks
.husky
commitlint.config.cjs
**/.lintstagedrc.cjs

# Test
**/tests
**/playwright
**/playwright.config.ts
**/__tests__

# Skaffold
**/skaffold.template.yaml
**/skaffold-*.yaml

# Metadata
**/LICENSE
**/AUTHORS
VERSION
**/README.md
**/CHANGELOG.md

# Turborepo
**/.turbo

# Babel edit
**/*.babel

# misc
.idea
*.swp
*.bak
**/.DS_Store