# Logs
logs
*.log
npm-debug.log*

# dependencies
**/node_modules

# outout
out


# lint
**/.eslintrc.js
**/.eslintrc.cjs
**/.eslintignore
**/.lintstagedrc.cjs

# tests
**/tests
**/playwright
**/playwright.config.ts

#misc
*.swp
*.bak
.git
.DS_Store
.husky
.dockerignore
commitlint.config.cjs
**/LICENSE
**/AUTHORS
VERSION
**/README.md
deploy
**/Dockerfile
**/skaffold.template.yaml