[submodule "src/assets"]
	path = src/assets
	url = https://github.com/spaceone-dev/console-assets.git
[submodule "src/components"]
	path = src/components
	url = https://github.com/spaceone-dev/spaceone-design-system.git