@font-face {
font-family: "p-icon-font";
src: url("~@/styles/icon-fonts/p-icon-font.eot?557af1273cb2d979b7793b639d5e7f71?#iefix") format("embedded-opentype"),
url("~@/styles/icon-fonts/p-icon-font.woff2?557af1273cb2d979b7793b639d5e7f71") format("woff2"),
url("~@/styles/icon-fonts/p-icon-font.woff?557af1273cb2d979b7793b639d5e7f71") format("woff");
}

.p-icon {
}

.p-icon:before {
font-family: p-icon-font !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}

    .p-i-aws-ec2:before {
    content: "\f101";
    }
    .p-i-aws-network:before {
    content: "\f102";
    }
    .p-i-btn_gnb_top-logo:before {
    content: "\f103";
    }
    .p-i-checkbox--checked:before {
    content: "\f104";
    }
    .p-i-checkbox:before {
    content: "\f105";
    }
    .p-i-common-gear:before {
    content: "\f106";
    }
    .p-i-ic_arrow_bottom:before {
    content: "\f107";
    }
    .p-i-ic_arrow_left:before {
    content: "\f108";
    }
    .p-i-ic_arrow_right:before {
    content: "\f109";
    }
    .p-i-ic_arrow_top:before {
    content: "\f10a";
    }
    .p-i-ic_back:before {
    content: "\f10b";
    }
    .p-i-ic_breadcrum_arrow:before {
    content: "\f10c";
    }
    .p-i-ic_dashboard:before {
    content: "\f10d";
    }
    .p-i-ic_delete:before {
    content: "\f10e";
    }
    .p-i-ic_gnb_language:before {
    content: "\f10f";
    }
    .p-i-ic_gnb_profile:before {
    content: "\f110";
    }
    .p-i-ic_gnb_services:before {
    content: "\f111";
    }
    .p-i-ic_identity:before {
    content: "\f112";
    }
    .p-i-ic_inventory:before {
    content: "\f113";
    }
    .p-i-ic_plus:before {
    content: "\f114";
    }
    .p-i-ic_refresh:before {
    content: "\f115";
    }
    .p-i-ic_search:before {
    content: "\f116";
    }
    .p-i-ic_setting:before {
    content: "\f117";
    }
    .p-i-ic_table_sort:before {
    content: "\f118";
    }
    .p-i-ic_table_sort_fromA:before {
    content: "\f119";
    }
    .p-i-ic_table_sort_fromZ:before {
    content: "\f11a";
    }
    .p-i-radio--checked:before {
    content: "\f11b";
    }
    .p-i-radio:before {
    content: "\f11c";
    }
