/* Main styles for this application */

/* Reset */
@import 'styles/reset.pcss';

/* Component Styles */
@import 'components/styles/style.pcss';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
