/* Main styles for this application */

/* Reset */
@import 'styles/reset.pcss';
@import 'components/molecules/tooltips/PTooltip.pcss';

/* Global component styles */
@import 'highlight.js/scss/atom-one-dark.scss';

/* Icons */
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
