/* Main styles for this application */

/* Reset */
@import 'styles/reset.pcss';
@import 'components/molecules/tooltips/PTooltip.pcss';

/* Icons */
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";

/* Global component styles */
@import 'highlight.js/scss/atom-one-dark';

@tailwind base;
@tailwind components;
@tailwind utilities;
