
:export {
    primary_op3: rgba($primary, 0.3);
    primary2_op3: rgba($primary2, 0.3);
    other1_op3: rgba($other1, 0.3);
    secondary_op3: rgba($secondary, 0.3);
    secondary1_op3: rgba($secondary1, 0.3);
    safe_op3: rgba($safe, 0.3);
    other4_op3: rgba($other4, 0.3);
    other3_op3: rgba($other3, 0.3);
    other2_op3: rgba($other2, 0.3);
    primary1_op3: rgba($primary1, 0.3);

}