//custom global css

textarea:focus, input:focus{
  outline: none;
}

:focus {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Bootstrap table style overwrite */
.tbody-tr-default {
  cursor: pointer;
}

/* Bootstrap checkbox style overwrite */
.custom-control-label {
  cursor: pointer;
}