/*************************
 *** CUSTOM GLOBAL CSS ***
 *************************/


 /* VARIABLES */
$gray-op: rgba(142, 152, 178, 0.06);
$gray: rgba(142, 152, 178, 0.2);
$lightblue-op: rgba(188, 208, 250, 0.6);
$lightblue: rgb(188, 208, 250);

/* INIT */
textarea:focus, input:focus{
  outline: none;
}

:focus {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Bootstrap table style overwrite */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: $gray-op;
  &.tbody-tr-selected {
    background-color: $lightblue-op;
  }
}
.table-hover tbody tr:hover {
  background-color: $gray;
  &.tbody-tr-selected {
    background-color: $lightblue;
  }
}
.tbody-tr-default {
  cursor: pointer;
}
.tbody-tr-selected {
  background-color: $lightblue-op;
}
.table.b-table[aria-busy='true'] {// Busy table styling
  opacity: 1;
  .b-table-busy-slot {
    background-color: transparent;
    td {
      vertical-align: middle;
    }
  }
}
.b-table-empty-row {
  background-color: transparent !important;
    td {
      color: gray;
      vertical-align: middle;
      text-align: center;
    }

}

/* Bootstrap checkbox style overwrite */
.custom-control-label {
  cursor: pointer;
}