/* COLORS */
$red: #e81d2a;
$green: #2D9E6E;

$lightgray: #EEF0F3;
$gray: #C9CFE0;
$darkgray: #959BAf;

$white: #fff;
$whiteblue: #FBFDFF;
$skyblue: #ECF1FE;
$blue: #0526ff;
$pastelblue: #7598f3;

$navy: #0F2965;
$black: #1a1f3e;



