/*************************
 ****** GLOBAL CSS *******
 *************************/

 @import url("http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800");

/* INIT */
html, body {
  // font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: $whiteblue;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  word-break: keep-all;
}
i {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

textarea:focus, input:focus{
  outline: none;
}

:focus {
  outline: none;
}




/*************************
 ********** APP **********
 *************************/

 /* App Header */
 .app-header {
  .nav-item {
    button.dropdown-toggle {
      background-color: transparent;
      border-color: transparent;
      font-size: 1rem;
      color: darken($darkgray, 40%);
      &:active, &.active, &[aria-expanded="true"] {
        background-color: transparent;
        border-color: $gray;
        color: $black;
      }
    }
  }
 }


/* Base Table */
// .table-striped tbody tr:nth-of-type(odd) {
//   background-color: $lightgray;
//   &.tbody-tr-selected {
//     background-color: $skyblue;
//   }
// }
.table.b-table {
  border-collapse: separate; 
  border-spacing: 0; 
  td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.table-hover tbody tr:hover {
  background-color: $lightgray;
  &.tbody-tr-selected {
    background-color: darken($skyblue, 7%);
  }
}
.tbody-tr-selected {
  background-color: darken($skyblue, 3%);
  // box-shadow: 0 1px 5px 0 rgba($blue, 0.4);
}

.tbody-tr-default {
  cursor: pointer;
  border-radius: 5px;
}
.tbody-tr-underlined {
  border-bottom: 1px solid rgba($lightgray, 0.5);
}
.table.b-table[aria-busy='true'] {// Busy table styling
  opacity: 1;
  .b-table-busy-slot {
    background-color: transparent;
    border: none;
    td {
      vertical-align: middle;
    }
  }
}
.b-table-empty-row {
  background-color: transparent !important;
    td {
      color: gray;
      vertical-align: middle;
      text-align: center;
    }

}

/* b-checkbox */
.custom-control-label {
  cursor: pointer;
}

/* b-dropdown */
.dropdown-menu {
  padding: 5px 0 !important;
  border: none;
  box-shadow: 2px 2px 10px 0px rgba($black, 0.2);
}
.dropdown-item {
  padding: 5px 10px;
  &:hover, &:focus {
    color: $black;
    background-color: transparent;
    .item {
      background-color: $lightgray;
    }
  }
  &.active, &:active {
    color: darken($blue, 10%);
    background-color: transparent;
    .item {
      background-color: $skyblue; 
      &:hover, &:focus {
        background-color: darken($skyblue, 5%); 
      }
    }
  }
  /* TODO: separate this part to component */
  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    .icon {
      margin-left: 0;
      color: inherit;
      font-weight: inherit;
      font-size: 1.3em;
    }
    .name {
      padding-left: 15px;
      color: inherit;
      font-weight: inherit;
    }
  }
}

/* b-button */
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-primary {
  background-color: $blue;
  border-color: $blue;
  &:not(:disabled):not(.disabled):active {
    background-color: $blue;
    border-color: $blue;
    &:focus {
      box-shadow: 0 0 5px 1px $skyblue;
    }
  }
}