// If you want to override variables do it here
@import "variables";

.v-notice {
  // Style of the notification itself
  padding: 10px;
  margin: 15px 5px 5px;
  font-size: 12px;
  border-radius: 5px;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }

  &.g-Error {
    margin: 35% 5px 5px;
    //background: linear-gradient(to right, #FF1E28, #D34250, #fff);
    opacity: 1.5;
    background: #E54D42;
    border-left-color: #B82E24;


  }

  &.g-Success {


  }

  &.g-Warn {


  }

  .notification-title {
    // Style for title line
  }

  .notification-content {
    // Style for content
  }


}


// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "_custom";

// ie fixes
@import "ie-fix";
