/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html:lang(ko), body:lang(ko) {
    font-family: Noto Sans, Roboto, Noto Sans KR, sans-serif;
}

html:lang(en), body:lang(en) {
    font-family: Noto Sans, Roboto, sans-serif;
}

html:lang(ja), body:lang(ja) {
    font-family: Noto Sans, Roboto, Noto Sans JP, sans-serif;
}

pre {
    font-family: Noto Sans, Roboto, sans-serif;
}
