.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.button-group {
    justify-content: flex-end;
    flex-shrink: 0;
    .text-button {
        height: 1.5rem;
    }
}
.edit-btn {
    @apply text-blue-600;
    padding-right: 0.5rem;
    line-height: 160%;
    .edit-icon {
        margin-right: 0.25rem;
    }
    &:hover, &:active {
        @apply cursor-pointer;
    }
}
