{
  "CONSOLE_API": {
    "ENDPOINT": "https://console.api.dev.spaceone.dev"
  },
  "CONSOLE_API_V2": {
    "ENDPOINT": "https://console-v2.api.dev.spaceone.dev"
  },
  "GTAG_ID": "DISABLED",
  "DOMAIN_NAME": "spaceone",
  "DOMAIN_NAME_REF": "config",
  "MOCK": {
    "ALL": false,
    "ENDPOINT_V1": "https://mock-api-v1.com",
    "ENDPOINT_V2": "https://mock-api-v2.com",
    "REFLECTION":false,
    "SKIP_TOKEN_CHECK": false,
    "API_LIST_V1": [],
    "API_LIST_V2": []
  },
}
