{
  "CONSOLE_API": {
    "ENDPOINT": "http://127.0.0.1:8081",
    "TIMEOUT": 3000
  },
  "CONSOLE_API_V2": {
    "ENDPOINT": "http://127.0.0.1:8082",
    "TIMEOUT": 3000
  },
  "GTAG_ID": "DISABLED",
  "DOMAIN_NAME": "spaceone",
  "DOMAIN_NAME_REF": "config",
  "DEV": {
    "ENABLED": false,
    "MOCK": {
        "ENABLED": false,
        "ENDPOINT_V1": "https://mock-api-v1.com",
        "ENDPOINT_V2": "https://mock-api-v2.com",
        "REFLECTION_V1":false,
        "REFLECTION_V2":false,
        "API_LIST_V1": [],
        "API_LIST_V2": ["*", "!/identity/*"]
      },
    "AUTH": {
        "SKIP_TOKEN_CHECK": false,
        "API_KEY": "api-key"
    }
  },
  "SMTP_ENABLED": true,
  "SERVICES": {
    "DASHBOARDS": {
      "ENABLED": true,
      "VERSION": "V1"
    },
    "PROJECT": {
      "ENABLED": true,
      "VERSION": "V1"
    },
    "SERVICE_ACCOUNT": {
      "ENABLED": true,
      "VERSION": "V1"
    },
    "ASSET_INVENTORY": {
      "ENABLED": true,
      "VERSION": "V1"
    },
    "COST_ANALYSIS": {
      "ENABLED": true,
      "VERSION": "V1"
    },
    "OPS_FLOW": {
      "ENABLED": false,
      "VERSION": "V1"
    },
    "ALERT_MANAGER": {
      "ENABLED": true,
      "VERSION": "V1"
    }
  }
}
