{
  "CONSOLE_API": {
    "ENDPOINT": "https://console.api.dev.spaceone.dev"
  },
  "CONSOLE_API_V2": {
    "ENDPOINT": "https://console-v2.api.dev.spaceone.dev"
  },
  "GTAG_ID": "DISABLED",
  "DOMAIN_NAME": "spaceone",
  "DOMAIN_NAME_REF": "config"
}
